* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #F5F7F9;
    color: rgb(29, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Üst Menü */
header {
    display: flex;
    margin: 0;
    padding: 0%;
    justify-content: space-between;
    align-items: first baseline;
    width: 100%;
    max-width: 95%;
}

.logo {
    margin: 0;
    padding: 10px;
    position: sticky;
    margin-top: 1%;
    top: 0;

}

.navbar {
    /* Additional styling */
    margin: 0 30px;
    text-decoration: none;
    background-color: #f8f8f8;
    padding: 10px;
    color: #515353;
    position: relative;
    transition: 0.2s;
}

.menu-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition: 0.2s;
}

.menu-item:hover,
.menu-item:focus {
    color: #0089EC;
}

.menu-item:hover::after,
.menu-item:focus::after {
    background-color: #0089EC;
    width: 100%;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.menu-item {
    position: relative;
}

.menu-link {
    color: #515353;
    cursor: pointer;
}

/* Dropdown İçeriği */
.dropdown {
    position: absolute;
    background-color: #F5F7F9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    width: 900px;
    display: none;
    /* Varsayılan olarak gizli */
    flex-direction: row;
    gap: 50px;
}

.dropdown-section {
    color: #515353;
    border: 100px #666262;
    padding: 30px;
    margin: 10px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #f8f8f8;
    display: grid;
    justify-content: space-around;
}

.dropdown-section a {
    color: #515353;
    border: 100px #666262;
    text-align: left;
    box-sizing: border-box;
    border-radius: 10px;
}

.menu-item.active .dropdown {
    color: #515353;
    display: flex;
    /* Menü aktif olduğunda aç */
}

.menu-item .arrow {
    margin-left: 5px;
    transition: transform 0.3s;
}

.menu-item.active .arrow {
    transform: rotate(180deg);
}


.contact .btn-login {
    background-color: #0089EC;
    font-weight: bold;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 15px;
    position: relative;
}

/* Sağ Bildirim */
.notification {
    position: fixed;
    top: 150px;
    right: 10px;
    background-color: #FFFFFF;
    color: #1F2020;
    margin-top: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: small;
    padding: 3px 3px;
    text-align: center;
}

.title h1 {
    font-size: 55px;
    font-weight: bold;
}

.title .subtitle {
    font-size: large;
    color: #515353;
    text-align: center;
    margin: 20px;
}

/* Ana İçerik */
main {
    text-align: center;
    padding: 60px 20px;
}

.cards {
    background-color: #F5F7F9;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.info .discount-label {
    margin: 55px;
    background-color: #76cf8b;
    color: #fff;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 15px;
}

.info .discount-label:hover {
    color: #fff;
}

.info {
    border: 1px #ddd;
    padding: 30px;
    margin: 10px;
    text-align: center;
    min-width: 100px;
    /* Konteynerlerin minimum genişliği */
    max-width: 800px;
    /* Konteynerlerin maksimum genişliği */
    box-sizing: border-box;
    flex: 1 30px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: .3s;
}

.info:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.info img {
    width: 100px;
    height: auto;
}

.info span {
    font-weight: bolder;
    font-size: 90%;
    color: #333;
}

.info span:hover {
    color: #007bff;
}

.info-container .view-all {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #007bff;
    font-weight: normal;
}

/* 2. Section */

.info-section {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-cards {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px auto;
    padding: 150px;
}

.title-2 {
    margin-bottom: 20px;
}

.title-2 h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 650;
    font-family: "Inter", sans-serif;
}

.cards-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    flex: 1;
    margin: 10px;
    padding: 30px;
    text-align: center;
    background-color: #ffffff;
    /* Kartların arka planı */
    border: none;
    /* Kenarlıkları kaldır */
    border-radius: 8px;
    /* Köşeleri yuvarlat */
}

.card img {
    display: block;
    margin: 0 auto 10px;
}

.card h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #555;
    margin: 0 auto;
}

/* Kaydırma alanı */

.scroll-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Ortalamak için */
    gap: 30px;
    /* İçerik ve mobil ekran arasında boşluk bırakır */
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}


.content {
    width: 60%;
    /* İçerik genişliği */
    padding: 20px;
    /* İçeriğin daha ferah görünmesi için iç boşluk */
}

.mobile-screen {
    flex: 1;
    /* Eşit genişlik için flex kullan */
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-content img {
    width: 50%;
    /* Mobil ekranın maksimum genişliğini sınırlayın */
    height: 200%;
    border-radius: 20px;
    box-shadow: none;
    /* Hafif gölge efekti */
}

.screen-content {
    position: absolute;
}

.screen-feature-1,
.screen-feature-2 {
    position: absolute;
    top: 1%;
    right: 30%;
    transform: translateX(-80%) scale(1);
    width: 30%;
    height: 15%;
    opacity: 0;
    /* Başlangıçta görünmez */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.screen-feature-1.active {
    opacity: 1;
    /* Görünür yap */
    transform: translateX(-50%) scale(5);
    /* Büyüt */
}

.screen-feature-2.active {
    opacity: 1;
    /* Görünür yap */
    transform: translateX(-50%) scale(5);
    /* Büyüt */
}

.content-section {
    display: block;
    padding: 150px;
    margin-bottom: 40px;
}

.content-section h2 {
    font-size: 2em;
    margin-bottom: 25px;
    text-align: center;
    /* Metni ortalayın */
}

.content-section p {
    font-size: 1.1em;
    color: #555;
    text-align: center;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 30px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 768px) {
    .scroll-container {
        flex-direction: column;
        gap: 20px;
    }

    .content {
        text-align: center;
    }

    .mobile-screen {
        width: 100%;
        max-width: 300px;
    }
}

/* Carousel alanı */

.carousel-title {
    font-size: 34px;
    font-weight: bolder;
    margin: 20px 30px;
    padding: 20px 30px;

}

.nav-item {
    border: 1px solid transparent; /* Başlangıçta sınır görünmez olacak */
    border-radius: 15%;
    opacity: 1;
    padding: 3px; /* Sınırın daha belirgin olması için padding ekliyoruz */
}

.nav-item.active {
    border-color: #007BFF; /* Tıklanan öğenin kenar rengini belirliyoruz */
}

/* Metinleri tüm sekme alanına yay */
.tab-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Sekmeleri ortalamak için */
.nav-tabs {
    justify-content: center;
    border: none;
    border-bottom: none;
}

/* Sekmeler ile carousel arasında boşluk bırakmak için */
.tab-content {
    margin-top: 20px;

}

/* Carousel container */
#kampanyalarCarousel {
    position: relative;
}

.carousel-item .d-flex {
    justify-content: center;
    text-align: center;
    margin: 20px;

}

/* Carousel indicators dışarıya taşındı ve sağ tarafa kondu */
.carousel-indicators-container {
    position: fixed;
    top: 97%;
    right: 45%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.carousel-indicators-container button {
    width: 10px;
    height: 10px;
    background-color: #474747;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.carousel-indicators-container button.active {
    background-color: #007BFF;
    
}

.carousel-indicators-container button:hover {
    transform: scale(1.2);
}